@keyframes fadeInFromNone 
{
	0%
	{
		display: none;
		opacity: 0;
	}

	1%
	{
		display: block;
		opacity: 0;
	}

	100%
	{
		display: block;
		opacity: 1;
	}
}

@keyframes fadeOutToNone
{
	0%
	{
		display: block;
		opacity: 1;
	}
	
	95%
	{
		display: block;
		opacity: 0;
	}

	100%
	{
		display: none;
		opacity: 0;
	}
}

.pop_up 
{
	display: flex;
	flex-direction: column;

	position: absolute;
	top: 25vh;
	left: 45vw;
	background: linear-gradient(135deg, #454545, #6b6b6b);
	padding: 15px 30px;
	border-radius: 8px;
	box-shadow: 0 0 8px rgba(0, 0, 0, 0.8), 0 0 10px rgba(0, 0, 0, 0.5);
	z-index: 9999;
    transform: translate(-50%, -50%);
	border: 2px solid #979797;
	pointer-events: auto;
}

.pop_up .title
{
	color: white;
	font-size: xx-large;
	font-weight: bold;
	text-align: center;
}

.pop_up .close_button 
{
	position: absolute;
	top: 2px;
	right: 5px;
	cursor: pointer;
	font-size: x-large;
	color: white;
	background: transparent;
	border: none;
	padding: 0;
	line-height: 1;
}

.pop_up .close_button:hover 
{
	color: #a3a3a3;
}
